body {
    min-height: 100hv;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: inherit;
}

#root {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body>#root>div {
    height: 100vh;
}